
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,600;1,500;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

:root {
    --colorprimary: #8F57fd;
}

body{
    background-color: var(--colorprimary);
}

a:hover {
    text-decoration: underline;
}